*{box-sizing: border-box;}

body {
    background-color: #D9D5C6;
    color: #263B66;

}

h1 {
    text-align: center;
    background-color: #263B66;
    color: #CA7B45;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.weather_container {
    border-style: solid;
    border: 2px black;
}

.city_search {
    color: #CA7B45;
    font-size: 20px;
   
}

#search_btn {
    color: #263B66;
    width: 300px;

}

#sub_btn {
    color: #D9D5C6;
    width: 300px;
    background-color: #263B66;

}

.weather_search {
    padding: 15px 10px;
    border-radius: 1px;
    border: black;
    margin: 0 15px;
}

.current_day {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-right: 50px;

}

.forecast {
    text-align: center;
}


.five_day_forecast {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather_forecast {
    background-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-radius: 10px;
    border: 1px black;
    margin: 0 10px 10px;
    padding: 30px 5px 20px;
    box-sizing: border-box;
    min-width: 150px;

}

#picture1 {
    width: 50px;
    height: 50px;
}